<!DOCTYPE html>
<html>
<head>
  <title>Cdr</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "style", media: "all", "data-turbolinks-track" => true %>
   <%= stylesheet_link_tag    "sidebar", media: "all", "data-turbolinks-track" => true %>
  <%
=begin %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
   <%= javascript_include_tag 'defaults', 'data-turbolinks-track' => true %>
<%
=end %>
 
   <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body> 

<div id="wrapper" class="active">
      
      <!-- Sidebar -->
            <!-- Sidebar -->
      <div id="sidebar-wrapper">
      <ul id="sidebar_menu" class="sidebar-nav">
           <li class="sidebar-brand"><a id="menu-toggle" href="#">Menu<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
      </ul>
        <ul class="sidebar-nav" id="sidebar">   
          <li><a><span class="glyphicon glyphicon-dashboard"></span>Dashboard</a></li>
            <li><a href="<%= companies_path %>"><span class="sub_icon glyphicon glyphicon-home"></span>Companies</a></li>
          <li><a href="<%= companies_path %>"><span class="sub_icon glyphicon glyphicon-link"></span>Companies</a></li>
          <li> <a href="<%= departments_path %>"><span class="sub_icon glyphicon glyphicon-link"></span>Departments</a></li>
          <li><a href="<%= calldetails_path %>"><span class="sub_icon glyphicon glyphicon-link"></span>Calldetails</a></li>
          <li><a href="<%= calldetails_path %>"><span class="sub_icon glyphicon glyphicon-user"></span>Users</a></li>

        </ul>
      </div>
          
      <!-- Page content -->
      <div id="page-content-wrapper">
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
          <div class="row">
              <div class="col-md-12">
              <%= yield %>

            </div>
          </div>
        </div>
      </div>
      
    </div>

</body>
</html>
